:root{
  --first-color: #f49393; 
  
  --second-color: #f21368; 
 
  --third-color: #aa236d; 

  --fourth-color:  #140807; 
  
}


body{
  background-color: var(--fourth-color);
  
  
}
.heading-name{
  padding-top: 100px;
  padding-bottom: 300px;
}

h1{
  font-size: 86px;
  padding-bottom: 20px;
  color: var(--second-color);
}
h2{
  font-size: 48px;
  color: var(--fourth-color);
}
h4{
  color: var(--fourth-color);
}
p{
  color: var(--first-color);
}
.My-name {
  overflow: hidden;
  animation: typing 3.5s steps(40, end), 
  blink-caret .75s step-end infinite;
}
a{
  display: block;
}
@keyframes typing {
  from {width:0}
  to {width: 100%}
}
.homepage{
  color: var(--second-color);
}
.heading-name, .contact-me{
  padding-bottom: 100px;
}
.heading-name{
  background: #f7a9c7;
}
.homepage-container{
  padding-top: 300px;
}
.container{
  padding-bottom: 20px;
}
.about-me{
  border-radius: 50% ;
}
hr{
  width: 100%;
  color:#f7a9c7;
}
.project-img{
  border-radius: 10%;
}
@media (max-width: 960px){
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 44px;
  }
  .about-me-container{
    text-align: center;
  }
}
.btn-branding-outline{
  border-radius: 4px;
  color: var(--third-color);
  border-color: var(--third-color);
  background-color: var(--fourth-color);
  font-size: 15px;
  padding: 15px 30px;
}
.contact-me-line{
  margin-top: 100px;
}
.icons{
  padding-top: 70px;
  display: inline-block;
  text-decoration: none;
}
