:root{
  --first-color: #f0ece2; 
  
  --second-color: #dfd3c3; 
 
  --third-color: #c7b198; 

  --fourth-color:  #596e79; 
  
}


body{
  background-color: var(--first-color);
  color: var(--fourth-color);
  
}
.heading-name{
  padding-top: 100px;
}

h1{
  font-size: 86px;
  padding-bottom: 20px;
}
h2{
  font-size: 48px;
}

.My-name {
  overflow: hidden;
  animation: typing 3.5s steps(40, end), 
  blink-caret .75s step-end infinite;
}
a{
  display: block;
}
@keyframes typing {
  from {width:0}
  to {width: 100%}
}
.about-me{
  border-radius: 50% ;
}
@media (max-width: 960px){
  .about-me-container{
    text-align: center;
  }
}
.btn-branding-outline{
  border-radius: 4px;
  color: var(--fourth-color);
  border: var(--fourth-color);
  background-color: var(--third-color);
  font-size: 18px;
  padding: 15px 30px;
}