:root{
  --first-color: #c898d6; 
  
  --second-color: #67bbff; 
 
  --third-color: #dbf2ff; 

  --fourth-color:  #000; 

}
.bar{
  font-family: poppins;
  font-weight: 200;
  font-size: 10px;
} 
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  
}

header #myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.Homepage-container{
margin-top: 53px;
padding-top: 20px;
}

.table-contents-about-me, .table-contents-contact-me, .table-contents-things-built{
  font-size: 20px;
  padding-bottom: 80px;
  padding-top: 30px;
}
.about-me-link, .things-built-link, .contact-me-link{
  text-decoration: none;
  color: var(--second-color);
}
.content{
  position: relative;
bottom: 100px;
  width: 100%;
}

body{
  background-color: var(--fourth-color);
  
  
}
.heading-name{
  padding-top: 100px;
  padding-bottom: 300px;
}

h1{
  font-size: 86px;
  font-family: 'Lora', serif;
  padding-bottom: 30px;
  font-size: 130px;
  font-weight: 500;
  color: #fff;

}
h2{
  font-size: 48px;
  color: var(--third-color);
  font-family: 'poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

h4{
  color: var(--third-color);
  padding-top: 10px;
  font-family: 'dongle', sans-serif;
  font-weight: 300;
  font-size: 38px;
}
.lower-header{
  padding-top: 29px;
}
p{
  color: var(--third-color);
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.My-name {
  overflow: hidden;
  animation: typing 3.5s steps(40, end), 
  blink-caret .75s step-end infinite;
  padding-top: 20px;
  font-family: 'poppins', sans-serif;
  font-size: 25px;
  color:var(--third-color);
}
a{
  display: block;
}
@keyframes typing {
  from {width:0}
  to {width: 100%}
}
.container{
  padding-bottom: 20px;
}
.homepage{
  font-family: 'lora', serif;
  font-weight: 500;
  font-size: 50px;
  color: var(--second-color);
}
hr{
  width: 100%;
  color:#8ea7f8;
}
.project-img{
  border-radius: 10%;
 
}

.css-img{
  position: relative;
  top: 6px;
}
.vs-img, .js-img{
  position: relative;
  top:3px;
}
.html-img, .css-img, .vs-img, .js-img{
  height: auto;
  width: auto;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 80px;
}
.btn-branding-outline, .show-more-button, .say-hello-button{
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 15px
}
.btn-branding-outline{
  border-radius: 4px;
  color: var(--second-color);
  border-color: var(--second-color);
  background-color: var(--fourth-color);
  font-size: 15px;
  padding: 15px 30px;
  margin-bottom: 50px;
}
.email-paragraph{
  padding-bottom: 30px;
}
.icons{
  padding-top: 70px;
  display: inline-block;
  text-decoration: none;
}
.netlify-icon{
  height: auto;
  width: auto;
  max-width: 20px;
  max-height: 20px;
 
}
.content-container{
  padding-top: 150px;
}
.about-heading{
font-size: 55px;
}
.about-line{
  position: relative;
  bottom: 70px;
  padding: 2px;
}
.future-nurse-heading{
  font-family: 'lora', serif;
  font-weight: 400;
  color: #40d9ff;
  font-size: 33px;
}
.about-pic{
  border-radius: 2%;
  margin-top: 40px;
}
@media (max-width: 960px){
  h1{
    font-size: 80px;
  }
  h2, h4{
    font-size: 30px;
  }
  p{
    font-size: 20px;
  }
  .about-me-container{
    text-align: center;
  }
  #myVideo{
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
  }
  .homepage{
    font-size: 45px;
  }
  .html-img, .css-img, .vs-img, .js-img{
    max-width: 40px;
    max-height: 40px;
  }
  .future-nurse-heading{
    font-size: 23px;
  }
}